
<div class="col-md-6 user-container">

  <ul class="navbar-nav "> 
    <li>
      <button mat-raised-button (click)="onClose()" >
        <mat-icon>close</mat-icon>
      </button>
    </li>
  </ul>

  <h2 class="text-center">Declaration</h2>

  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="kimpot"> Code impot:</label> 
      <input type="text" formControlName="kimpot" [(ngModel)]="recivedRow"  name="kimpot" class="form-control" id="kimpot" disabled>
    </div>

    <div *ngFor="let detLig of DetailLigne">
      <div *ngFor="let aa of detLig.detailLigne ; let  i=index" >
        <div class="form-group">
          <label formControlName="KDetLigne" > {{aa.KDetLigne}}:</label>
          <label> {{aa.libelleDetLigne}}:</label> 
          <!--<input type="text" formControlName="KDetLigne" placeholder="{{aa.KDetLigne}}" disabled >-->
          <input type="text" formControlName="valeur"  placeholder="{{aa.libelleDetLigne}}" name="{{aa.libelleDetLigne}}" class="form-control" id="{{aa.KDetLigne}}" >
        </div>
      </div>
    </div>

    <button class="btn btn-success" > <mat-icon>check_circle</mat-icon> Calculer </button>

  </form> 

  <!--<button class="mat-raised-button" (click)="onClose()"> <mat-icon>close</mat-icon> Fermer</button>-->
</div>