  input {
    border-width: 0px;
    background: rgb(255, 255, 255);
    font-family: "Times New Roman", Times, serif;
  }

  .container {
    padding-right:0px;
    width: 100%;
  }

  label {
    font-family: cursive;
  }

  td{
    font-family: "Times New Roman", Times, serif;
  }
  
  h5 { 
    color: #1E90FF; 
  }

