
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>  
<title>Consulter dossier contribuable</title>
</head>
<body>
		<h5>Recherche d'un contribuable</h5>
		<label> NIF: </label>
		<input type="text" name="nif"/> 
		<button type="submit" class="btn btn-outline-primary" (click)="recherche(nif)">Recherche</button>

	<mat-tab-group>
		<mat-tab label="Information generale sur un contribuable"> 
			<mat-tab-group>
				<mat-tab label="Fiche contribuable"> 
			<h5 *ngIf="contribuables">Fiche contribuable</h5>
			<br>
			<table>
			<table>
				<tbody>
					<tr><td> <div *ngIf="contribuables">  Nom commerciale:<input type="text" name="nomCommerciale" [(ngModel)]="contribuables.nomCommerciale" readonly="true"></div></td><br></tr>
					<tr><td> <div *ngIf="contribuables">  Raison sociale:<input type="text" name="raisonSociale" [(ngModel)]="contribuables.raisonSociale" readonly></div></td><br></tr>
					<tr><td> <div *ngIf="contribuables">  Registre commerciale :<input type="text" name="registreCommerce" [(ngModel)]="contribuables.registreCommerce" readonly></div></td> <br></tr>
					<tr><td> <div *ngIf="contribuables">  Date de debut d'exploitation:<input type="text" name="dateDebExp" [(ngModel)]="contribuables.dateDebExp" readonly></div></td><br></tr>
					<tr><td> <div *ngIf="contribuables">  Capitale sociale:<input type="text" name="capitalSociale" [(ngModel)]="contribuables.capitalSociale" readonly></div></td> <br></tr>
					<tr><td> <div *ngIf="contribuables">  Forme juridique:<input type="text" name="libellefj" [(ngModel)]="contribuables.libellefj" readonly></div></td><br></tr>
					<tr><td> <div *ngIf="contribuables">  Activite d'entreprise:<input type="text" name="libelleae" [(ngModel)]="contribuables.libelleae" readonly></div></td><br></tr>
					<tr><td> <div *ngIf="contribuables">  Nationnalite:<input type="text" name="nationnalite" [(ngModel)]="contribuables.nationnalite" readonly></div></td><br></tr>
				</tbody>
			</table>
			</table>
			<br>
				<div *ngIf="contribuables">
					<button type="button" class="btn btn-outline-primary" (click)="editcontribuables(contribuables)">Modifier</button>
				</div>
			</mat-tab>
			
				<mat-tab label="Premiere responsable ">   
					<table *ngIf="contribuables">
						<table>
							<tbody>
								<tr><td> <div *ngIf="contribuables">  Identifiant:<input type="text" name="rib" [(ngModel)]="contribuables.identifiant" readonly></div></td> <br></tr>
								<tr><td> <div *ngIf="contribuables">  Nom:<input type="text" name="nombanque" [(ngModel)]="contribuables.nom" readonly></div></td><br></tr>
								<tr><td> <div *ngIf="contribuables">  Prenom:<input type="text" name="libelleagence" [(ngModel)]="contribuables.prenom" readonly></div></td><br></tr>
							</tbody>
						</table>
					</table>
					  <br>
					  <div *ngIf="contribuables">
						<button class="btn btn-outline-primary" >Modifier</button>
					  </div>
				</mat-tab>
		
				<mat-tab label="Adresse "> 
					<table class="table table-hover" *ngIf="contribuables">
						<thead>
						  <tr>
							<th scope="col">ID adresse</th>
							<th scope="col">Numero rue</th>
							<th scope="col">Rue</th>
							<th scope="col">Code postale</th>
							<th scope="col">Libelle structure adresse</th>
							<th scope="col">Libelle type structure adresse</th>
							<th scope="col"> Operation</th>
							<button  class="btn btn-outline-primary" [routerLink]="['newADR']" (click)="ajouteradr()">Ajouter</button>
						  </tr>
						</thead>
						<tbody>
							<ng-container  *ngFor="let adrr of Adresse">
							<tr *ngFor="let adr of adrr.adresse">
							  <td >{{adr.kadresse}}</td>
							  <td >{{adr.numrue}}</td>
							  <td >{{adr.rue}}</td>
							  <td >{{adr.cp}}</td>
							  <td >{{adr.libellesadr}}</td>
							  <td >{{adr.libelletsadr}}</td>
							   <td> 
								 <button type="button" class="btn btn-outline-primary"  routerLink="/updateAdr/{{adr.kadresse}}" >Modifier</button> 
								 <button type="button" class="btn btn-outline-secondary" (click)="deleteADR(adr)">Supprimer</button>
								</td>
							  </tr>
							</ng-container>
						  </tbody>
						</table>
				</mat-tab>
		
				<mat-tab label="Compte bancaire"> 
					<table class="table table-hover" *ngIf="contribuables">
						<thead>
						  <tr>
							<th scope="col">ID compte bancaire</th>
							<th scope="col">RIB</th>
							<th scope="col">Nom de la banque</th>
							<th scope="col">Nom de l'agence</th>
							<th scope="col"> Operation</th>
							<button  class="btn btn-outline-primary" [routerLink]="['newCB']" (click)="ajoutercb()" >Ajouter</button>
						  </tr>
						</thead>
						<tbody>
							<ng-container  *ngFor="let cb of CompteBancaire">
								<tr>
									<td>{{cb.compteBancaire?.kcompte}}</td>
									<td>{{cb.compteBancaire?.rib}}</td>
									<td>{{cb.compteBancaire?.nomBanque}}</td>
									<td>{{cb.compteBancaire?.libelleAgence}}</td>
									 <td> 
									   <button type="button" class="btn btn-outline-primary" routerLink="/updateCb/{{cb.compteBancaire?.kcompte}}" >Modifier</button> 
									   <button type="button" class="btn btn-outline-secondary" (click)="deletecb(cb)">Supprimer</button>
									  </td>													
								</tr> 
							</ng-container>
						</tbody>
						</table>
				</mat-tab>
		
				<mat-tab label="Actionnaires "> 
					<table class="table table-hover" *ngIf="contribuables">
						<thead>
						  <tr>
							<th scope="col">ID actionnaire</th>
							<th scope="col">Nom de actionnaire</th>
							<th scope="col">Prenom de actionnaire</th>
							<th scope="col">Part de actionnaire</th>
							<th scope="col"> Operation</th>
							<button  class="btn btn-outline-primary" >Ajouter</button>
						  </tr>
						</thead>
						</table>
				</mat-tab>

			</mat-tab-group>
		</mat-tab>

		<mat-tab label="Impots "> 
			List des impots
		</mat-tab>

		<mat-tab label="Declarations "> 
			<table class="table table-hover">
				<thead>
				  <tr>
					<th scope="col">ID declaration</th>
					<th scope="col">ID contribuable</th>
					<th scope="col">ID impot</th>
					<th scope="col">Mantant declarer</th>
					<th scope="col">Mantant declaration</th>
					<th scope="col">Date declaration</th>
					<button  class="btn btn-outline-primary" [routerLink]="['newDCL']" (click)="ajouterdcl()">Ajouter</button>
				  </tr>
				</thead>
				<tbody>
					<ng-container  *ngFor="let dcl of Declaration">
					<tr *ngFor="let d of dcl.declaration">
					  <td >{{d.kdcl}}</td>
					  <td >{{d.kcnc}}</td>
					  <td >{{d.kimpot}}</td>
					  <td >{{d.mantantDeclarer}}</td>
					  <td >{{d.mantantDeclaration}}</td>
					  <td >{{d.datedcl}}</td>
					  </tr>	  
					</ng-container>
				  </tbody>
		  </table>
		</mat-tab>

		<mat-tab label="Reclamation "> 
			List des  reclamation
		</mat-tab>

	  </mat-tab-group>
	  
</body>
</html>