<router-outlet></router-outlet>

<!--<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div *ngFor="let cu of ContribuableUser"> 
        
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>

        <hr class="sidebar-divider my-0">

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <span>Consultation du dossier en ligne</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" [routerLink]="['/menu', cu.contribuableUser?.nif, 'consulterContribuable']">Consultation du dossier en ligne</a>
              </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <span>Déclaration en ligne</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" [routerLink]="['/menu', cu.contribuableUser?.nif, 'declarationContribuable']">Gestion des déclarations</a>
              </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <span>Paiement en ligne</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" [routerLink]="['/menu', cu.contribuableUser?.nif, 'paiementContribuable']">Paiement des impots</a>
              </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <span>Réclamation en ligne</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" >Traitement des réclamations</a>
                <a class="collapse-item" >Gestion des réclamations</a>
              </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-wrench"></i>
              <span>Profile</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" >Mon compte</a>
                <a class="collapse-item" (click)="onLogout()" >Se déconnecter</a>
              </div>
            </div>
        </li>

        </div>
    </ul>
</div>-->


<!-- <header>

    <div *ngFor="let cu of ContribuableUser"> 
    
    <nav class ="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLoggedIn$ | async" >
    
      <ul class="navbar-nav"  > 
         
        <li>
         <button mat-menu-item [matMenuTriggerFor] = "menu1">Consultation du dossier en ligne</button>
            <mat-menu #menu1 = "matMenu">
              <button mat-menu-item [routerLink]="['/menu', cu.contribuableUser?.nif, 'consulterContribuable']" class="nav-link" >Consultation du dossier en ligne</button>
            </mat-menu>
        </li>
    
        <li>
          <button mat-menu-item [matMenuTriggerFor] = "menu2">Déclaration en ligne</button>
            <mat-menu #menu2 = "matMenu">
              <button mat-menu-item  [routerLink]="['/menu', cu.contribuableUser?.nif, 'declarationContribuable']" class="nav-link" > Gestion des déclarations</button>
            </mat-menu>
        </li>
    
        <li>
          <button mat-menu-item [matMenuTriggerFor] = "menu3">Paiement en ligne </button>
            <mat-menu #menu3 = "matMenu">
              <button mat-menu-item [routerLink]="['/menu', cu.contribuableUser?.nif, 'paiementContribuable']" class="nav-link"> Paiement en impots</button>
            </mat-menu>
        </li>
    
        <li>
          <button mat-menu-item [matMenuTriggerFor] = "menu4">Réclamation en ligne </button>
            <mat-menu #menu4 = "matMenu">
              <button mat-menu-item  class="nav-link"> Traitement des réclamations</button>
              <button mat-menu-item  class="nav-link"> Gestion des réclamations</button>
            </mat-menu>
        </li>
    
        <li>
          <button mat-menu-item [matMenuTriggerFor] = "menu5">Profile </button>
          <mat-menu #menu5 = "matMenu">
            <button mat-menu-item routerLink="declaration" class="nav-link"> Mon compte</button>
            <button mat-menu-item (click)="onLogout()"  > Se déconnecter</button>
          </mat-menu>
        </li> 
    
    
      </ul>
    
    </nav>
    
    </div>
    
</header>
    
<router-outlet></router-outlet>
 -->