

<table class="table table-hover" >
    <thead>
      <tr>
        <!--<th scope="col">ID user</th>
        <th scope="col">ID contribuable</th>-->
        <th scope="col">NIF</th>
        <th scope="col">Raison sociale</th>
        <th scope="col">Nom commerciale</th>
        <th scope="col">Registre commerciale</th>
        <!--<th scope="col">Forme juridique</th>
        <th scope="col">Activite entreprise</th>-->
        
        <th scope="col"> Operation</th>
       
      </tr>
    </thead>

    <tbody>
      <!--<ng-container *ngFor="let c of ContribuableUser">  --> 
        <tr *ngFor="let cu of ContribuableUser">
              <!--<td> {{cu.contribuableUser?.kuser}} </td>
              <td> {{cu.contribuableUser?.kcnc}} </td>-->
              <td> {{cu.contribuableUser?.nif}} </td>
              <td> {{cu.contribuableUser?.raisonSociale}} </td>
              <td> {{cu.contribuableUser?.nomCommerciale}} </td>
              <td> {{cu.contribuableUser?.registreCommerce}} </td>
              <!--<td> {{cu.contribuableUser?.libellefj}} </td>
              <td> {{cu.contribuableUser?.libelleae}} </td>-->
            
              <td> 
                <button type="button" class="btn btn-outline-primary" routerLink="/consulterContribuable/{{cu.contribuableUser?.nif}}" >Consulter</button>
              </td>
              </tr>
      <!--</ng-container>-->
              
    </tbody>

  </table>

