

<table class="table table-hover" >
    <thead>
      <tr>
        <th scope="col">NIF</th>
        <th scope="col">Raison sociale</th>
        <th scope="col">Nom commerciale</th>
        <th scope="col">Registre commerciale</th>
        <th scope="col"> Operation</th>
       
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let c of ContribuableUser" >      
        <tr *ngFor="let cu of c.contribuableUser">
          <td> {{cu.nif}} </td>
          <td> {{cu.raisonSociale}} </td>
          <td> {{cu.nomCommerciale}} </td>
          <td> {{cu.registreCommerce}} </td>
              <td> 
                <button type="button" class="btn btn-outline-primary" routerLink="/menu/{{cu.nif}}" >Consulter</button>
              </td>
        </tr>
      </ng-container>
              
    </tbody>

  </table>
