<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item">
            <a href="administration/formejuridique-get/formejuridique-get.component.html">Forme juridique </a>
        </li>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <li class="nav-item">
            <a href="administration/activite-ese-get/activite-ese-get.component.html">Activite de l'entreprise </a>
        </li>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <li class="nav-item">
            <a href="administration/activite-ese-get/activite-ese-get.component.html">Impot </a>
        </li>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <li class="nav-item">
            <a href="administration/pays-get/pays-get.component.html">Pays </a>
        </li>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <li class="nav-item">
            <a href="administration/mode-paiement-get/mode-paiement-get.component.html">Mode de paiement </a>
        </li>
        
      </ul>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
-->