<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>  
<title>Dossier contribuable</title>
</head>
<body>

	<div style="width: 1290px; height: 1000px;  margin-left: auto; margin-right: auto;background: rgb(255, 255, 255);">
		
		<as-split direction="vertical">

			<as-split-area size="20" *ngFor="let contribuables of contribuables"  >
				<h5 class="card-title">Contribuable</h5>
				<table>
					<table>
							<tbody >
							  <tr> <td> <div  *ngIf="contribuables"> <label> NIF: </label> <input type="text" name="nomCommerciale" [(ngModel)]="contribuables.nif" disabled style="border-left-width: 0px"></div></td>
							  <td> <div  *ngIf="contribuables"> <label> Nom commerciale: </label> <input type="text" name="nomCommerciale" [(ngModel)]="contribuables.nomCommerciale" disabled></div></td>
							  <td> <div  *ngIf="contribuables"> <label> Raison sociale: </label> <input type="text" name="raisonSociale" [(ngModel)]="contribuables.raisonSociale" disabled></div></td> </tr>

							  <tr> <td> <div *ngIf="contribuables"> <label> Registre commerciale :</label><input type="text" name="registreCommerce" [(ngModel)]="contribuables.registreCommerce" disabled></div></td> 
							  <td> <div *ngIf="contribuables"> <label> Date de debut d'exploitation:</label><input type="text" name="dateDebExp" [(ngModel)]="contribuables.dateDebExp" disabled></div></td>
							  <td> <div *ngIf="contribuables"> <label> Capitale sociale:</label><input type="text" name="capitalSociale" [(ngModel)]="contribuables.capitalSociale" disabled></div></td> </tr>
							 
							  <tr> <td> <div *ngIf="contribuables"> <label> Forme juridique: </label> <input type="text" name="libellefj" [(ngModel)]="contribuables.libellefj" disabled></div></td>
							  <td> <div *ngIf="contribuables"> <label> Activite d'entreprise: </label><input type="text" name="libelleae" [(ngModel)]="contribuables.libelleae" disabled></div></td>
							  <td> <div *ngIf="contribuables"> <label> Nationnalite:</label><input type="text" name="nationnalite" [(ngModel)]="contribuables.nationnalite" disabled></div></td> </tr>
							</tbody>
					</table>
				</table>
			</as-split-area>

			<as-split-area size="40" *ngFor="let contribuables of contribuables"  >
				<h5 class="card-title">Déclaration</h5>

				<!-- toolbar -->
			<div class="row">
				<div class="col-md-12 mb-4">
					<button type="button" class="btn btn-elegant" (click)="enableInput()"><i class="far fa-user pr-2" aria-hidden="true"></i> <mat-icon>lock_open</mat-icon> Activer</button>
					<button type="button" class="btn btn-pink"  (click)="openDialogDcl()" ><i class="fas fa-plane pr-2" aria-hidden="true"></i> <mat-icon>add</mat-icon> Ajouter</button>
				</div>
			</div>

				<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
		
					<div class="form-row">
						<div class="form-group col-md-6">
							<div class="form-group" >
								<label for="impotContriName">Listes des impots:</label>
            					<ng-select formControlName="impotContriName" 
                   					[items]="impotItems"
                   					[virtualScroll]="true"
                   					[searchable]="true" 
                   					bindLabel="abriviation"
                   					bindValue="kimpot"
                   					placeholder="Choisir un impot"
                   					[(ngModel)]="selectedImpotId"
                   					(change)="getPeriodiciteByImpot()">
            					</ng-select>
            					<label> Selected impot ID: {{selectedImpotId}} </label>
							</div>
						</div>
						<div class="form-group col-md-6">
							<!--<div class="form-group">
								<label for="per">Périodicité:</label>
								<input type="text" formControlName="per" placeholder="Périodicité" name="per" class="form-control" id="per" >
							</div>-->
							<div class="form-group" >
								<label for="per">Périodicité:</label>
								<ng-select formControlName="per" 
                   					[items]="perItems"
                   					[virtualScroll]="true"
                   					[searchable]="true" 
                   					bindLabel="libellePeriodicite"
                   					bindValue="KPeriodicite"
                   					placeholder="Périodicité"
                   					[(ngModel)]="selectedPeriodId"
                   					(change)="getDetPeriodiciteByPer()">
            					</ng-select>
								<label> Selected periodicite ID: {{selectedPeriodId}} </label>
							</div>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<!--<div class="form-group">
								<label for="moisEx">Mois/Exercice:</label>
								<input type="text" formControlName="moisEx" placeholder="Mois/Exercice" name="moisEx" class="form-control" id="moisEx" >
							</div>-->
							<div class="form-group" >
								<label for="moisEx">Mois/Exercice:</label>
								<ng-select formControlName="moisEx" 
                   					[items]="detperiodItems"
                   					[virtualScroll]="true"
                   					[searchable]="true" 
                   					bindLabel="libelleDetPeriodicite"
                   					bindValue="KDetPeriodicite"
                   					placeholder="Detail périodicité"
                   					[(ngModel)]="selectedDetPeriodId">
            					</ng-select>
								<label> Selected detail periodicite ID: {{selectedDetPeriodId}} </label>
							</div>
						</div>
						<div class="form-group col-md-6">
							<div class="form-group">
								<label for="echDec">Echéance de la déclaration:</label>
								<input type="text" formControlName="echDec" placeholder="Echéance de la déclaration" name="echDec" class="form-control" id="echDec" >
							</div>
						</div>
					</div>

				</form>
			</as-split-area>

			<as-split-area size="40" *ngFor="let contribuables of contribuables"  >
				<h5 class="card-title">Détails déclaration</h5>
				<form [formGroup]="addForm1" (ngSubmit)="onSubmit1()">

					<div class="form-row">
						<div class="form-group col-md-4">
							<div class="form-group">
								<label for="md">Montant des droits:</label>
								<input type="text" formControlName="md" placeholder="Montant des droits" name="md" class="form-control" id="md" >
							</div>
						</div>
						<div class="form-group col-md-4">
							<div class="form-group">
								<label for="mv">Montant versé:</label>
								<input type="text" formControlName="mv" placeholder="Echéance de la déclaration" name="mv" class="form-control" id="mv" >
							</div>
						</div>
						<div class="form-group col-md-4">
							<div class="form-group">
								<label for="rp">Reste à payer:</label>
								<input type="text" formControlName="rp" placeholder="Reste à payer" name="rp" class="form-control" id="rp" >
							</div>
						</div>
					</div>

				</form>
			</as-split-area>



		</as-split>
						  
	</div>
	  
</body>
</html>