<div class="col-md-6 user-container">
    <h2 class="text-center">Modifier adresse</h2>
    <form [formGroup]="editForm1" (ngSubmit)="onSubmit()">

          <div class="form-group" >
            <label for="id">ID adresse:</label>
            <input type="text" formControlName="id"  placeholder={{kadresse}} name="id" class="form-control" id="id" readonly/>
        </div>

          <div class="form-group">
            <label for="numRue">Numero rue:</label>
            <input type="text" formControlName="numRue" placeholder="numRue" name="RIB" class="form-control" id="numRue" >
          </div>

          <div class="form-group">
            <label for="rue">Rue:</label>
            <input type="text" formControlName="rue"  placeholder="rue" name="rue" class="form-control" id="rue" >
          </div>

          <div class="form-group">
            <label for="cp">Code postale:</label>
            <input type="text"  formControlName="cp"  placeholder="cp" name="cp" class="form-control" id="cp" >
          </div>

        <div class="form-group">
            <label for="sadrName">Libelle structure adresse:</label>
            <ng-select formControlName="sadrName" id="sadrName"
                   [items]="sadrItems"
                   [virtualScroll]="true"
                   [searchable]="true" 
                   bindLabel="libellesadr"
                   bindValue="KStructureAdr"
                   placeholder="Choisir libelle structure adresse"
                   [(ngModel)]="selectedStructId">
            </ng-select>
            <label> Selected libelle structure adresse ID: {{selectedStructId}} </label>
        </div>

        
        <button class="btn btn-success">Update</button>
    </form>
</div>
