<h2>Login</h2>
<form [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div>
        <label for="username">Username</label>
        <input type="text" placeholder="username" name="username" class="form-control" id="username" required/>    
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="password" class="form-control" required/>
    </div>

    <div class="form-actions">
        <button type="submit">Login</button>
    </div>
</form>


