<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    
    <ul class="navbar-nav">

      <!--<li><a  routerLink="contribuable" class="nav-link">Consulter dossier en ligne</a></li>
      <li><a  routerLink="declaration" class="nav-link">Declaration en ligne</a></li>
      <li><a  class="nav-link">Reclamation en ligne</a></li>
      <li><a  class="nav-link">Paiement en ligne</a></li>
      <li><a  routerLink="connexion" class="nav-link">Login</a></li>
      <li><a  routerLink="logout" class="nav-link">LogOut</a></li>-->
      
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="contribuable" class="nav-link">Consulter dossier en ligne</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="declaration" class="nav-link">Declaration en ligne</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()"  class="nav-link">Reclamation en ligne</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()"  class="nav-link">Paiement en ligne</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="connexion" class="nav-link">Login</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="logout" class="nav-link">LogOut</a></li>
    
    </ul>
    
    </nav>
    
    </header>